.breadcrumb {
  padding: 20px;
  background: #eee;
  list-style-type: none;

  .breadcrumb-item {

    color: darkgray;
    display: inline;
    margin: 0 5px;

    .breadcrumb-item-label {
      cursor: pointer;

      &:hover {
        color: #737373;
      }
    }

    span {
      margin-right: 10px;
    }

    &.last {
      color: black;
    }
  }
}
